* {
    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 481px) {
    .top {
        background-color: #f2efe4;
        color: #2f2f2f;
        height: 100vh;
        overflow-y: hidden;
        width: 100vw;
    }
    
    .top img {
        width: 70px;
        padding-top: 40vh;
    }
    
    .name {
        font-weight: 900;
        padding-top: 15px;
    }
    
    .msg {
        font-weight: 800;
        font-style: italic;
        padding-top: 15px;
    }
    .icons {
        padding-left: 10px;
        padding-right: 10px;
    }
    .icons :hover {
        color: #2f2f2f;
    }
    
    .icon {
        padding: 10px;
        color: #2f2f2f;
    }
    
    .label {
        padding-top: 30px;
        font-weight: 700;
    }

}

@media screen and (max-width: 480px) { 
    .top {
        background-color: #f2efe4;
        color: #2f2f2f;
        height: 100vh;
        position: fixed;
        width: 100vw;
    }
    
    .top img {
        width: 70px;
        padding-top: 200vh;
    }
    
    .name {
        font-weight: 900;
        padding-top: 15px;
    }
    
    .msg {
        font-weight: 800;
        font-style: italic;
        padding-top: 15px;
    }
    .icons {
        padding-left: 10px;
        padding-right: 10px;
    }
    .icons :hover {
        color: #2f2f2f;
    }
    
    .icon {
        padding: 10px;
        color: #2f2f2f;
    }
    
    .label {
        padding-top: 30px;
        font-weight: 700;
    }

}

html {
    height: 100vh;
    margin: 0;
    position: fixed;
}

header {
    height: 100vh;
    margin: 0;
    position: fixed;

}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100vw;
}